.App{
  height:95vh;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
}

img{
  margin-top:5rem;
  height:32rem;
  width:32rem;
  border:9px solid black;
}

.cover{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
  font-family: 'Metal Mania', cursive;
  color:white;
  font-size:2rem;
}

.new{
  opacity:0;
}

.cover:hover .new{
  opacity:1;
  position:relative;
  bottom:70%;
  left:90%;
  font-family: 'Metal Mania', cursive;
  color:white;
  text-shadow:2px 2px 2px black;
}


@media (max-width:415px){
  img{
    height:20rem;
    width:20rem;
  }

  .cover{
    font-size:2rem;
  }

  .cover:hover .new{
    opacity: 1;
    bottom:88%;
    left:0%;
    font-size:1.4rem;
  }

  
}

@media (max-width:320px){
  img{
    height:15rem;
    width:15rem;
  }
}